@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  position: relative;
  width: 800px;
  margin: auto;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  color: #464646;
}

.start-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
